@import url('https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap');

.BarraDeNavegacion{
  background-color: rgba(72, 126, 176,0.6)!important;
}

.NavLogo{

    font-family: 'Work Sans', sans-serif;

}

.nav-item{
  border-width: medium !important;
  font-family: 'Open Sans', sans-serif;
}

.NavBuscador form{
  border-width: thick !important;
}

.dropdown-toggle {
  color: white;
}

.dropdown-item, .dropdown-toggle{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
